.check-title-input{
  width: 130px;
  border: none;
  border-bottom: 4px solid #360940FF;
  background: transparent no-repeat 10px 10px;
  color: white;
  padding: 10px;
  font-size: 20px;
  transition: width 0.4s ease-in-out;
  box-sizing: border-box;
}


.check-title-input:focus {
  width: 30%;
  background: transparent;
}

.check-title-button{
  background-color: #360940FF;
  border: none;
  color: white;
  padding: 7px 17px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  font-size: 20px;
}

.check-title-button:active {
  background-color: white;
  color: #360940FF;
  padding: 7px 17px;

  .mat-form-field {
    padding: 10px;

    button {
      display: block;
    }
  }
}
