<div class ="check-input">
  <label for="id">ID*: </label><input id="id" [(ngModel)]="id">
  <div style="clear: both;"></div>
</div>

<div class ="check-input">
  <label for="id">author*: </label><input id="author" [(ngModel)]="author">
  <div style="clear: both;"></div>
</div>

<div class ="check-input">
  <label for="id">body*: </label><input id="body" [(ngModel)]="body">
  <div style="clear: both;"></div>
</div>

<div class ="check-input">
  <label for="id">tags*: </label><input id="tags" [(ngModel)]="tags">
  <div style="clear: both;"></div>
</div>

<div class ="check-button">
  <button (click)="pushContentPromise()">Add
    Content</button>
</div>

<div class="error">
  <div [innerHTML]="message"></div>
</div>
